.top_header {
  line-height: 150%;
  border-bottom: 1px solid $dark;
  .container {
    @include container(70%);
    .nav-pills {
      li {
        float: right;
        a {
          position: relative;
          display: block;
          padding: 0;
          font-family: $fontfamily;
          font-size: 1em;
          color: lighten($dark, 30);
          text-transform: uppercase;
          text-decoration: none;
          i {
            margin-right: 12px;
          }// i
        }// a
      }// li
      li:first-child {
        margin-right: 15px;
      }
      li:nth-child(2) {
        margin-right: 15px;
      }
    }// .nav-pills


    .wc_msg {
      @include clearfix;

      @include breakpoint($small) {
        @include span(4);
        font-size: 1em;
        font-weight: $thin;
      }// breakpoint
      @include breakpoint($medium) {
        @include container(100%);
      }// breakpoint
      @include breakpoint($wide) {
        @include container(100%);
        @include span(5);
      }// breakpoint
    }// .wc_msg

    .nav-pills {
      @include breakpoint($small) {
        @include span(8);
        display: inline-block;
        position: relative;
          li {
            float: left;
            a {
              padding: 0;
              font-size: 0.9em;
            }
          }//li
        }//breakpoint
      @include breakpoint($medium) {
        @include container(100%);
        float: right;
      }// Breakpoint
      @include breakpoint($wide) {
        @include container(100%);
        @include span(6);
        float: right;
      }// breakpoint
      }// .nav-pills
  }// .container
}// .top_header