.navbar {
    @include container;
    width: 100%;
    z-index: 100;
    position: relative;
    bottom: 0;
  .container {
    padding: 0px 15px;
      .navbar-header {
        @include span(4);
        font-weight: $bold;
        font-family: $headFont;
        text-align: center;
        text-transform: uppercase;
        background: $navBrandBg;
        a {
          color: $navForeground;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 10px;
          font-size: 1.5em;
          @include breakpoint( max-width $small ) {
            span  { display: none; }
          } //breakpoint
          @include breakpoint($small $medium) {
            font-size: 1.4em;
          }//breakpoint
        } //a
      } //brand

      ul {
          @include span(8 at 4 of 12);
          li {
            float: left;
            a {
                color: $dark;
                font: $mainFont;
                font-size: 1em;
                padding: 10px 20px;
                display: inline-block;
                background-size: 35px;
                background-repeat: no-repeat;
                background-position: 2px;
                text-decoration: none;
                font-weight: $normal;
                &:hover {
                  background-color: $navHover;
                  color: $blue;
                } //hover

                @include breakpoint(0 $small) {
                  padding: 12px 5px;
                  font-size: 0.9em;
                  &::after {
                    content: '\0000a0';
                    display: block;
                  } //after
                  span  {
                    display: none;
                  } //span
                }
                @include breakpoint($small $medium) {
                  padding: 12px 10px;
                  line-height: 150%;
                  font-size: 0.9em;
                  &.icon { background-image: none; }
                } // breakpoint
            } //a
            a.active {
                background-color: $red;
                color: $light;
            } //a.active
          } // li
      } // ul
  }//.container
}// .navbar
